################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PalindromeTests/obj/Debug/PalindromeTests.csproj.AssemblyReference.cache
/PalindromeTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PalindromeTests/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/StringUtilities/obj/Debug/StringUtilities.csproj.AssemblyReference.cache
/StringUtilities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/StringUtilities/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/.vs/PalindromeTests/v17
/.vs/PalindromeTests/FileContentIndex
/.vs/MSTestingAssignment/v17
