################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PalindromeTests/v16/TestStore/0
bin/
obj/
/.vs/PalindromeTests/v16/.suo
