################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PalindromeTests/v16
/PalindromeTests/bin/Debug
/PalindromeTests/obj/Debug
/StringUtilities/bin/Debug
/StringUtilities/obj/Debug
